/* swagger */


* {
    margin: 0;
    padding: 0	;
    box-sizing: border-box;	
}



body {
    background-color: black;
    color: white;
}

.card > .img-container > img {
    width: 992px;
    height: 372px;    
    object-fit: cover;
}


.hidden {
    display: none !important;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    position: relative;
}

.title {
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.text {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.container-click-img {
    display: flex;
    position: relative;
}

.click-img {
    flex-grow: 1;
    height: 150px;
    width: 100%;
}

.sinistra {
    position: absolute;
    left: 0px;
    top: 45%;
}

.destra {
    position: absolute;
    right: 0px;
    top: 45%;
}

.container-click-img > .click-img > .imgClick {
    object-fit:cover ;


    width: 100%;
    height: 100%;

}

.sinistra {
    border-radius: 100%;
    width: 30px;   
    height: 30px;
}

.destra {
    border-radius: 100%;
    width: 30px;   
    height: 30px;
}

.start-stop {
    margin-top: 20px;
    height: 40px;
    width: 290px;
}









